<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <title>One Stop Freight</title>
</head>

<body>
    
    <header>
        <nav>
            <div>
                <img class="logo" src="/images/OneStopLogo.png" alt="logo">
            </div>
            <ul id="nav">
                <li><a href="/profile">Profile</a></li>
                <li><a href="feed">Transport Feed</a></li>
                <li><a href="/portCode">Port Codes</a></li>
            </ul>
            <div class="menu" id="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

