<%- include('partials/header') -%> <!--the header from header.ejs-->

<main>
    <div>
        <section>
            <h2><%= post.title %></h2>
</main>

<section class="sidebar">
    <div>  
        <form>

        </form>
    </div>
</section>