<main>
    <section>
        <h1>One Stop Freight</h1>
        <h3>Shipping information and Team communication in one</h3>
    </section>
</main>

<section>
    <div class="container"> 
        <div>
            <h2>The New Modern Way of Transportation</h2>
        </div>
        <div>
            <p>About</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div>
            <h3>Log In or Sign Up now</h3>
            <p>Log in or Sing up below to get access to all the great features</p>
        </div>
        <div>
            <button> <!--button of log in or sing up -->
            <form>
            </form>
        </div>
    </div>
</section>