<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Stop Freight</title>
</head>
<body>
    <header>
        <nav>
            <img src="" alt="logo">
            <ul>
                <li>Profile</li>
                <li>Transport Feed</li>
                <li>Port Codes</li>
                <li>Currency</li>
            </ul>
            <img src="#" alt="profile">
        </nav>
    </header>

    <main>
        <h1>One Stop Freight</h1>
        <h3>Connecting freight information and team communication in one</h3>
    </main>

    <section>
        <div class="container">
            <div>
                <section>
                    <h4>Welcome to One Stop Freight</h4>
                    <p>Description of One Stop Freight and stuff</p>
                </section>
                <section>
                    <img src="#" alt="world">
                </section>
            </div>
            <div>
                <section>
                    <img src="#" alt="Truck">
                    <h3>Transport Feed</h3>
                </section>
                <section>
                    <img src="#" alt="Ship">
                    <h3>Port Codes</h3>
                </section>
                <section>
                    <img src="#" alt="Money">
                    <h3>Currency</h3>
                </section>
            </div>
        </div>
    </section>


<!-- Footer -->
    <footer>
        <form>
        </form>
    </footer>

</body>
</html>