<%- include('partials/header') -%> <!--the header from header.ejs-->

<section class="landing">
     <main class="mainLand">
        <h1>One Stop Freight</h1>
        <h3>Connecting freight information and team communication in one</h3>
    </main>

    
        
    <div class="aboutLand">
        <section class="aboutLorem">
            <h4>Welcome to One Stop Freight</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, omnis blanditiis. Veritatis aspernatur possimus assumenda magnam deleniti voluptatum quaerat corporis iusto. Aliquid, soluta pariatur autem dignissimos sed quasi unde voluptates.
            </p>
        </section>
        <section>
            <img src="/images/Web_capture_5-10-2022_3329_-removebg-preview.png" alt="world">
        </section>
    </div>

    <div class="imagesLand">
        <section>
            <a href="/feed">
            <h3 class="btn no-animation">Transport Feed</h3>
            </a>
            <img src="/images/Web_capture_5-10-2022_33228_-removebg-preview.png" alt="Truck">
        </section>
        <section>
            <a href="/portCode">
            <h3 class="btn no-animation">Port Codes</h3>
            </a>
            <img src="/images/undraw_aircraft_fbvl-removebg-preview 1.png" alt="Ship">
        </section>
        <!-- <section>
            <img src="#" alt="Money">
            <h3>Currency</h3>
        </section> -->
    </div>
       
    
</section>

<%- include('partials/footer') -%>