<%- include('partials/header') -%> <!--the header from header.ejs-->

     <main>
        <h1>One Stop Freight</h1>
        <h3>Connecting freight information and team communication in one</h3>
    </main>

    <section>
        <div class="container">
            <div>
                <section>
                    <h4>Welcome to One Stop Freight</h4>
                    <p>Description of One Stop Freight and stuff</p>
                </section>
                <section>
                    <img src="#" alt="world">
                </section>
            </div>
            <div>
                <section>
                    <img src="#" alt="Truck">
                    <h3>Transport Feed</h3>
                </section>
                <section>
                    <img src="#" alt="Ship">
                    <h3>Port Codes</h3>
                </section>
                <section>
                    <img src="#" alt="Money">
                    <h3>Currency</h3>
                </section>
            </div>
        </div>
    </section>


<%- include('partials/footer') -%>