<%- include('partials/header') -%>

<main class="containerLogin">
  <section class="signupHead">
    <h1>Log in to get complete access to cargo posts and port facility information</h1>
  </section>
  <div class="card card-compact w-96 bg-base-100 shadow-xl divLogin">
    <section class="card-body insideForm">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div >
          <label for="exampleInputEmail1" class="form-label "
            >Email address</label
          >
          <input
            type="email"
            class="form-control input input-bordered input-accent w-full max-w-xs"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div >
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control input input-bordered input-accent w-full max-w-xs"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-outline btn-info">Submit</button>
      </form>
    </section>
    <div>
      <h4>Log in or Sing up below to get access to all the great features</h4>
      <h4>Guest Log in: Guest@guest.com <br>Password: Guest1234</h4>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>