<%- include('partials/header') -%> <!--the header from header.ejs-->

<section class="portSec">
    <div>
    <div>
        <input type="text">
        <div class="buttons">
            <a class="sunflower" id="getButton">Get Info</a>
        </div>
        <ul class="lcars-list">
            <li><span>Firm: </span><span id="Firm"></span></li>
            <li><span>Facility: </span><span id="name"></span></li>
            <li><span>Street: </span><span id="street"></span></li>
            <li><span>City: </span><span id="city"></span></li>
            <li><span>State: </span><span id="state"></span></li>
            <li><span>Zip: </span><span id="zip"></span></li>
            <li><span>Stat: </span><span id="stat"></span></li>
            <li><span>Fac Type: </span><span id="fac-typ"></span></li>
        </ul>
    </div>
</section>


<%- include('partials/footer') -%>