<%- include('partials/header') -%> <!--the header from header.ejs-->
<section class="portBack">
    <section class="portSec">
    <section class="toDo">
        <h1>Input the facility name and receive the necessary CBP information for shipping. </h1>
        <p> Ex. Input Port # 0101</p>
    </section>
    <section class="card card-compact w-120 bg-base-100 shadow-xl">
        <div class="card-body divBodyport">
            <div>
                <input type="text" class="portInput input input-bordered input-info w-full max-w-xs">
                <div class="buttons">
                    <button class="btnPort btn btn-outline btn-info" id="getButton">Get Info</button>
                </div>
            </div>
            <div>
                <ul class="lcars-list">
                    <li class="portList"><span>Firm: </span><span class="portsId" id="firm"></span></li>
                    <!-- <li><span>Port: </span><span id="port"></span></li> -->
                    <li class="portList"><span>Facility: </span><span class="portsId" id="name"></span></li>
                    <li class="portList"><span>Street: </span><span class="portsId" id="street"></span></li>
                    <li class="portList"><span>City: </span><span class="portsId" id="city"></span></li>
                    <li class="portList"><span>State: </span><span class="portsId" id="state"></span></li>
                    <li class="portList"><span>Zip: </span><span class="portsId" id="zip"></span></li>
                    <li class="portList"><span>Stat: </span><span class="portsId" id="stat"></span></li>
                    <li class="portList"><span>Fac Type: </span><span class="portsId" id="fac-type"></span></li>
                </ul>
            </div>
        </div>
    </section>
    </section>
</section>

<%- include('partials/footer') -%>